expectedOuputs/Healthcare.json
[
    {
      "id": "92c4498d224ffaef",
      "type": "tab",
      "label": "Flow 1",
      "disabled": false,
      "info": "",
      "env": []
    },
    {
      "id": "1528f84ff87e0f22",
      "type": "system-event-node",
      "z": "92c4498d224ffaef",
      "name": "",
      "thingDirectoryURI": "http://localhost:8080/thingdirectory",
      "thingEvent": "surgeryButtonPressed",
      "thingEventValue": "{\"uri\":\"http://localhost:8080/surgerybutton\",\"output\":{\"type\":\"null\"},\"description\":\"Sends an event when this button is pressed\",\"title\":\"Surgery button pressed\",\"event\":\"surgeryButtonPressed\"}",
      "outputToMsg": true,
      "redeploy": "false",
      "x": 120,
      "y": 60,
      "wires": [["e491716baf7f9f3f"]]
    },
    {
      "id": "320a6340adb8f3be",
      "type": "system-action-node",
      "z": "92c4498d224ffaef",
      "name": "",
      "thingDirectoryURI": "http://localhost:8080/thingdirectory",
      "thingAction": "lightOn",
      "thingActionValue": "{\"uri\":\"http:/localhost:8080/surgerylight\",\"params\":{},\"description\":\"Turns the light on\",\"title\":\"Light on\",\"action\":\"lightOn\"}",
      "outputToMsg": false,
      "redeploy": "true",
      "x": 360,
      "y": 200,
      "wires": [["fe586e586b05668f"]]
    },
    {
      "id": "e491716baf7f9f3f",
      "type": "system-property-node",
      "z": "92c4498d224ffaef",
      "name": "",
      "thingDirectoryURI": "http://localhost:8080/thingdirectory",
      "thingProperty": "lightStatus",
      "thingPropertyValue": "{\"uri\":\"http://localhost:8080/surgerylight\",\"type\":\"boolean\",\"description\":\"The status of the light: true = on, false = off\",\"title\":\"Light status\",\"property\":\"lightStatus\"}",
      "mode": "read",
      "redeploy": "true",
      "x": 130,
      "y": 120,
      "wires": [["b602811f6bf28c87"]]
    },
    {
      "id": "09c19433c83bf5a4",
      "type": "system-action-node",
      "z": "92c4498d224ffaef",
      "name": "",
      "thingDirectoryURI": "http://localhost:8080/thingdirectory",
      "thingAction": "lightOff",
      "thingActionValue": "{\"uri\":\"http://localhost:8080/surgerylight\",\"params\":{},\"description\":\"Turns the light off\",\"title\":\"Light off\",\"action\":\"lightOff\"}",
      "outputToMsg": false,
      "redeploy": "true",
      "x": 140,
      "y": 200,
      "wires": [["6014bee4e9fbd3d9"]]
    },
    {
      "id": "b602811f6bf28c87",
      "type": "switch",
      "z": "92c4498d224ffaef",
      "name": "",
      "property": "payload",
      "propertyType": "msg",
      "rules": [
        {
          "t": "false"
        },
        {
          "t": "true"
        }
      ],
      "checkall": "true",
      "repair": false,
      "outputs": 2,
      "x": 150,
      "y": 160,
      "wires": [["320a6340adb8f3be"], ["09c19433c83bf5a4"]]
    },
    {
      "id": "2dfd1d10bd1ea97c",
      "type": "system-property-node",
      "z": "92c4498d224ffaef",
      "name": "",
      "thingDirectoryURI": "http://localhost:8080/thingdirectory",
      "thingProperty": "surgeryStatus",
      "thingPropertyValue": "{\"uri\":\"http://localhost:8080/aandesystem\",\"type\":\"boolean\",\"description\":\"The current (writable) status of the surgery for this A&E system\",\"title\":\"Surgery statud\",\"property\":\"surgeryStatus\"}",
      "mode": "write",
      "redeploy": "false",
      "x": 260,
      "y": 300,
      "wires": [[]]
    },
    {
      "id": "fe586e586b05668f",
      "type": "function",
      "z": "92c4498d224ffaef",
      "name": "true",
      "func": "msg.payload = true;\nreturn msg;",
      "outputs": 1,
      "timeout": 0,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 350,
      "y": 240,
      "wires": [["2dfd1d10bd1ea97c"]]
    },
    {
      "id": "6014bee4e9fbd3d9",
      "type": "function",
      "z": "92c4498d224ffaef",
      "name": "false",
      "func": "msg.payload = false;\nreturn msg;",
      "outputs": 1,
      "timeout": 0,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 150,
      "y": 240,
      "wires": [["2dfd1d10bd1ea97c"]]
    },
    {
      "id": "b1e71f90e3c867bf",
      "type": "system-event-node",
      "z": "92c4498d224ffaef",
      "name": "",
      "thingDirectoryURI": "http://localhost:8080/thingdirectory",
      "thingEvent": "bedTaken",
      "thingEventValue": "{\"uri\":\"http://localhost:8080/beds\",\"output\":{\"type\":\"integer\"},\"description\":\"Alerts of a bed being taken\",\"title\":\"Bed taken\",\"event\":\"bedTaken\"}",
      "outputToMsg": true,
      "redeploy": "false",
      "x": 80,
      "y": 380,
      "wires": [["7b349b886ac52a9e"]]
    },
    {
      "id": "7b349b886ac52a9e",
      "type": "system-action-node",
      "z": "92c4498d224ffaef",
      "name": "",
      "thingDirectoryURI": "http://localhost:8080/thingdirectory",
      "thingAction": "bedTaken",
      "thingActionValue": "{\"uri\":\"http://localhost:8080/aandesystem\",\"params\":{\"bedNumber\":\"integer\"},\"description\":\"Alerts this A&E system that a bed has been taken\",\"title\":\"Bed Taken\",\"action\":\"bedTaken\"}",
      "outputToMsg": false,
      "redeploy": "false",
      "x": 260,
      "y": 380,
      "wires": [[]]
    },
    {
      "id": "be92fd1cc0aa1d20",
      "type": "system-event-node",
      "z": "92c4498d224ffaef",
      "name": "",
      "thingDirectoryURI": "http://localhost:8080/thingdirectory",
      "thingEvent": "bedFreed",
      "thingEventValue": "{\"uri\":\"http://localhost:8080/beds\",\"output\":{\"type\":\"integer\"},\"description\":\"Alerts of a bed being freed\",\"title\":\"Bed freed\",\"event\":\"bedFreed\"}",
      "outputToMsg": true,
      "redeploy": "true",
      "x": 80,
      "y": 440,
      "wires": [["735249cc9779916a"]]
    },
    {
      "id": "735249cc9779916a",
      "type": "system-action-node",
      "z": "92c4498d224ffaef",
      "name": "",
      "thingDirectoryURI": "http://localhost:8080/thingdirectory",
      "thingAction": "bedFreed",
      "thingActionValue": "{\"uri\":\"http://localhost:8080/aandesystem\",\"params\":{\"bedNumber\":\"integer\"},\"description\":\"Alerts this A&E system that a bed has been freed\",\"title\":\"Bed Freed\",\"action\":\"bedFreed\"}",
      "outputToMsg": false,
      "redeploy": "true",
      "x": 260,
      "y": 440,
      "wires": [[]]
    },
    {
      "id": "ebc9f32ed39e52a8",
      "type": "system-event-node",
      "z": "92c4498d224ffaef",
      "name": "",
      "thingDirectoryURI": "http://localhost:8080/thingdirectory",
      "thingEvent": "doorButtonPressed",
      "thingEventValue": "{\"uri\":\"http://localhost:8080/doorbell\",\"output\":{\"type\":\"integer\",\"description\":\"The number of seconds since the doorbell was pressed\"},\"description\":\"Makes a notification when this door button is pressed\",\"title\":\"Door button pressed\",\"event\":\"doorButtonPressed\"}",
      "outputToMsg": true,
      "redeploy": "true",
      "x": 110,
      "y": 520,
      "wires": [["5da13333fc8984a5", "dbd126fb0737257c"]]
    },
    {
      "id": "5da13333fc8984a5",
      "type": "system-action-node",
      "z": "92c4498d224ffaef",
      "name": "",
      "thingDirectoryURI": "http://localhost:8080/thingdirectory",
      "thingAction": "alertReception",
      "thingActionValue": "{\"uri\":\"http://localhost:8080/receptionsystem\",\"params\":{\"details\":\"string\"},\"description\":\"Alerts the reception of some event\",\"title\":\"Alert reception\",\"action\":\"alertReception\"}",
      "outputToMsg": false,
      "redeploy": "true",
      "x": 340,
      "y": 520,
      "wires": [[]]
    },
    {
      "id": "dbd126fb0737257c",
      "type": "switch",
      "z": "92c4498d224ffaef",
      "name": "",
      "property": "payload",
      "propertyType": "msg",
      "rules": [
        {
          "t": "gt",
          "v": "60",
          "vt": "num"
        }
      ],
      "checkall": "true",
      "repair": false,
      "outputs": 1,
      "x": 150,
      "y": 560,
      "wires": [["ed2dd4b9ef35aba4"]]
    },
    {
      "id": "d6e86be94b6aa48a",
      "type": "system-action-node",
      "z": "92c4498d224ffaef",
      "name": "",
      "thingDirectoryURI": "http://localhost:8080/thingdirectory",
      "thingAction": "alertPagerRole",
      "thingActionValue": "{\"uri\":\"http://localhost:8080/pagersystem\",\"params\":{\"role\":\"string\",\"details\":\"string\"},\"description\":\"Produces an alert for all pagers with the given role\",\"title\":\"Alert pager role\",\"action\":\"alertPagerRole\"}",
      "outputToMsg": true,
      "redeploy": "true",
      "x": 320,
      "y": 600,
      "wires": [[]]
    },
    {
      "id": "ed2dd4b9ef35aba4",
      "type": "function",
      "z": "92c4498d224ffaef",
      "name": "pager details",
      "func": "msg.payload = [\"receptionists\", \"door open for longer than a minute\"];\nreturn msg;",
      "outputs": 1,
      "timeout": 0,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 130,
      "y": 600,
      "wires": [["d6e86be94b6aa48a"]]
    },
    {
      "id": "d00e4d4b11939869",
      "type": "system-event-node",
      "z": "92c4498d224ffaef",
      "name": "",
      "thingDirectoryURI": "http://localhost:8080/thingdirectory",
      "thingEvent": "equipmentUsed",
      "thingEventValue": "{\"uri\":\"http://localhost:8080/equipmentmonitor\",\"output\":{\"type\":\"array\",\"items\":[{\"title\":\"name\",\"type\":\"string\",\"description\":\"The name of the equipment used\"},{\"title\":\"quantity\",\"type\":\"integer\",\"description\":\"The quantity of the equipment used\"}]},\"description\":\"Produces an event when equipment has been used\",\"title\":\"Equipment used\",\"event\":\"equipmentUsed\"}",
      "outputToMsg": true,
      "redeploy": "true",
      "x": 100,
      "y": 680,
      "wires": [["4f0340c2dbb238f0"]]
    },
    {
      "id": "4f0340c2dbb238f0",
      "type": "system-action-node",
      "z": "92c4498d224ffaef",
      "name": "",
      "thingDirectoryURI": "http://localhost:8080/thingdirectory",
      "thingAction": "logItemUsage",
      "thingActionValue": "{\"uri\":\"http://localhost:8080/loggingserver\",\"params\":{\"itemName\":\"string\",\"quantity\":\"integer\"},\"description\":\"Logs the use of an item\",\"title\":\"Log item usage\",\"action\":\"logItemUsage\"}",
      "outputToMsg": true,
      "redeploy": "true",
      "x": 300,
      "y": 680,
      "wires": [[]]
    },
    {
      "id": "a5b8b7abc5390e9d",
      "type": "system-event-node",
      "z": "92c4498d224ffaef",
      "name": "",
      "thingDirectoryURI": "http://localhost:8080/thingdirectory",
      "thingEvent": "equipmentEmpty",
      "thingEventValue": "{\"uri\":\"http://localhost:8080/equipmentmonitor\",\"output\":{\"type\":\"object\",\"properties\":{\"name\":{\"type\":\"string\",\"description\":\"The name of the equipment emptied\"}}},\"description\":\"Notifies of an equipment item becoming empty\",\"title\":\"Equipment empty\",\"event\":\"equipmentEmpty\"}",
      "outputToMsg": true,
      "redeploy": "true",
      "x": 100,
      "y": 740,
      "wires": [["6043861a209c9e6c"]]
    },
    {
      "id": "5f3991ec4fdadf18",
      "type": "system-action-node",
      "z": "92c4498d224ffaef",
      "name": "",
      "thingDirectoryURI": "http://localhost:8080/thingdirectory",
      "thingAction": "alertPagerRole",
      "thingActionValue": "{\"uri\":\"http://localhost:8080/pagersystem\",\"params\":{\"role\":\"string\",\"details\":\"string\"},\"description\":\"Produces an alert for all pagers with the given role\",\"title\":\"Alert pager role\",\"action\":\"alertPagerRole\"}",
      "outputToMsg": true,
      "redeploy": "true",
      "x": 440,
      "y": 740,
      "wires": [[]]
    },
    {
      "id": "6043861a209c9e6c",
      "type": "function",
      "z": "92c4498d224ffaef",
      "name": "pager details",
      "func": "msg.payload = [\"admin\", msg.payload];\nreturn msg;",
      "outputs": 1,
      "timeout": 0,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 270,
      "y": 740,
      "wires": [["5f3991ec4fdadf18"]]
    },
    {
      "id": "52a840d5cc28309f",
      "type": "system-event-node",
      "z": "92c4498d224ffaef",
      "name": "",
      "thingDirectoryURI": "http://localhost:8080/thingdirectory",
      "thingEvent": "SOSButtonPressed",
      "thingEventValue": "{\"uri\":\"http://localhost:8080/sosbutton\",\"output\":{},\"description\":\"Broadcasts the usage of this SOS button\",\"title\":\"SOS button pressed\",\"event\":\"SOSButtonPressed\"}",
      "outputToMsg": true,
      "redeploy": "true",
      "x": 110,
      "y": 820,
      "wires": [["3630d9da58d03f18"]]
    },
    {
      "id": "696ef4eadadd7a28",
      "type": "system-action-node",
      "z": "92c4498d224ffaef",
      "name": "",
      "thingDirectoryURI": "http://localhost:8080/thingdirectory",
      "thingAction": "alertPagerRole",
      "thingActionValue": "{\"uri\":\"http://localhost:8080/pagersystem\",\"params\":{\"role\":\"string\",\"details\":\"string\"},\"description\":\"Produces an alert for all pagers with the given role\",\"title\":\"Alert pager role\",\"action\":\"alertPagerRole\"}",
      "outputToMsg": true,
      "redeploy": "true",
      "x": 460,
      "y": 820,
      "wires": [[]]
    },
    {
      "id": "3630d9da58d03f18",
      "type": "function",
      "z": "92c4498d224ffaef",
      "name": "pager details",
      "func": "msg.payload = [\"nurse\", \"SOS pressed\"];\nreturn msg;",
      "outputs": 1,
      "timeout": 0,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 290,
      "y": 820,
      "wires": [["696ef4eadadd7a28"]]
    },
    {
      "id": "69dda68e69c2bafd",
      "type": "system-event-node",
      "z": "92c4498d224ffaef",
      "name": "",
      "thingDirectoryURI": "http://localhost:8080/thingdirectory",
      "thingEvent": "doorOpen",
      "thingEventValue": "{\"uri\":\"http://localhost:8080/doorsensor\",\"output\":{\"type\":\"object\",\"properties\":{\"timeOpen\":{\"type\":\"number\",\"description\":\"The number of seconds this door has been open for\"}}},\"description\":\"Produces a periodic notification when this door is open\",\"title\":\"Door open\",\"event\":\"doorOpen\"}",
      "outputToMsg": true,
      "redeploy": "true",
      "x": 80,
      "y": 920,
      "wires": [["e54611f79ebadf3a"]]
    },
    {
      "id": "edce072506e077ee",
      "type": "system-action-node",
      "z": "92c4498d224ffaef",
      "name": "",
      "thingDirectoryURI": "http://localhost:8080/thingdirectory",
      "thingAction": "triggerDoorAlarm",
      "thingActionValue": "{\"uri\":\"http://localhost:8080/dooralarm\",\"params\":{},\"description\":\"Enables this door alarm\",\"title\":\"Trigger door alarm\",\"action\":\"triggerDoorAlarm\"}",
      "outputToMsg": true,
      "redeploy": "true",
      "x": 310,
      "y": 920,
      "wires": [[]]
    },
    {
      "id": "e54611f79ebadf3a",
      "type": "switch",
      "z": "92c4498d224ffaef",
      "name": "",
      "property": "payload",
      "propertyType": "msg",
      "rules": [
        {
          "t": "gt",
          "v": "10",
          "vt": "num"
        },
        {
          "t": "gt",
          "v": "60",
          "vt": "num"
        }
      ],
      "checkall": "true",
      "repair": false,
      "outputs": 2,
      "x": 190,
      "y": 980,
      "wires": [["edce072506e077ee"], ["69b546b887bb0e1a"]]
    },
    {
      "id": "5990d448fd94d40a",
      "type": "system-action-node",
      "z": "92c4498d224ffaef",
      "name": "",
      "thingDirectoryURI": "http://localhost:8080/thingdirectory",
      "thingAction": "alertPagerRole",
      "thingActionValue": "{\"uri\":\"http://localhost:8080/pagersystem\",\"params\":{\"role\":\"string\",\"details\":\"string\"},\"description\":\"Produces an alert for all pagers with the given role\",\"title\":\"Alert pager role\",\"action\":\"alertPagerRole\"}",
      "outputToMsg": true,
      "redeploy": "true",
      "x": 460,
      "y": 1040,
      "wires": [[]]
    },
    {
      "id": "69b546b887bb0e1a",
      "type": "function",
      "z": "92c4498d224ffaef",
      "name": "pager details",
      "func": "msg.payload = [\"receptionists\", \"door open\"];\nreturn msg;",
      "outputs": 1,
      "timeout": 0,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 290,
      "y": 1040,
      "wires": [["5990d448fd94d40a"]]
    },
    {
      "id": "de6439a3665ce622",
      "type": "system-event-node",
      "z": "92c4498d224ffaef",
      "name": "",
      "thingDirectoryURI": "http://localhost:8080/thingdirectory",
      "thingEvent": "doorClosed",
      "thingEventValue": "{\"uri\":\"http://localhost:8080/doorsensor\",\"output\":{},\"description\":\"Produces an event when this door is closed\",\"title\":\"Door closed\",\"event\":\"doorClosed\"}",
      "outputToMsg": true,
      "redeploy": "true",
      "x": 90,
      "y": 1120,
      "wires": [["0e899ad3b76b5687"]]
    },
    {
      "id": "0e899ad3b76b5687",
      "type": "system-action-node",
      "z": "92c4498d224ffaef",
      "name": "",
      "thingDirectoryURI": "http://localhost:8080/thingdirectory",
      "thingAction": "stopDoorAlarm",
      "thingActionValue": "{\"uri\":\"http://localhost:8080/dooralarm\",\"params\":{},\"description\":\"Disables this door alarm\",\"title\":\"Stop door alarm\",\"action\":\"stopDoorAlarm\"}",
      "outputToMsg": true,
      "redeploy": "false",
      "x": 260,
      "y": 1120,
      "wires": [[]]
    }
  ]