expectedOuputs/Manufacturing.json
[
    {
        "id": "ec66bca55939c9e9",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "91955d31fa745dd4",
        "type": "system-event-node",
        "z": "ec66bca55939c9e9",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingEvent": "newQualityData",
        "thingEventValue": "{\"uri\":\"http://localhost:8080/qualityinspector\",\"output\":{\"type\":\"string\",\"description\":\"Details about the quality of products\"},\"description\":\"Alerts when new quality data is ready for processing\",\"title\":\"New quality data\",\"event\":\"newQualityData\"}",
        "outputToMsg": true,
        "redeploy": "true",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "5bf3eea765f7ca7a",
                "3bb0c2950a4e47f9"
            ]
        ]
    },
    {
        "id": "158964f562184c97",
        "type": "system-event-node",
        "z": "ec66bca55939c9e9",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingEvent": "temperatureAlert",
        "thingEventValue": "{\"uri\":\"http://localhost:8080/temperaturetracker\",\"output\":{\"type\":\"number\",\"description\":\"The current temperature of machines\"},\"description\":\"Produces an alert with the current temperature of machines\",\"title\":\"Temperature alert\",\"event\":\"temperatureAlert\"}",
        "outputToMsg": true,
        "redeploy": "true",
        "x": 120,
        "y": 280,
        "wires": [
            [
                "7da9cf95e81e8a24"
            ]
        ]
    },
    {
        "id": "0b35425b3a2bbd71",
        "type": "system-event-node",
        "z": "ec66bca55939c9e9",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingEvent": "vibrationAlert",
        "thingEventValue": "{\"uri\":\"http://localhost:8080/vibrationmonitor\",\"output\":{\"type\":\"number\",\"description\":\"The amplitude of the current vibration of the machines\"},\"description\":\"Created a notification of the current vibration of machines\",\"title\":\"Vibration alert\",\"event\":\"vibrationAlert\"}",
        "outputToMsg": true,
        "redeploy": "true",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "13d27a83ec253b04"
            ]
        ]
    },
    {
        "id": "d4c89f71c650dd32",
        "type": "system-action-node",
        "z": "ec66bca55939c9e9",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingAction": "processSensorData",
        "thingActionValue": "{\"uri\":\"http://localhost:8080/sensorhub\",\"params\":{\"sensorName\":\"string\",\"data\":\"string\"},\"description\":\"Adds the provided sensor data for processing\",\"title\":\"Process sensor data\",\"action\":\"processSensorData\"}",
        "outputToMsg": true,
        "redeploy": "true",
        "x": 390,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "4d34410bcd990e0f",
        "type": "system-action-node",
        "z": "ec66bca55939c9e9",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingAction": "reviewForMaintenance",
        "thingActionValue": "{\"uri\":\"http://localhost:8080/maintenancemonitor\",\"params\":{},\"output\":{\"type\":\"boolean\",\"description\":\"Whether or not the system needs maintenance\"},\"description\":\"Reviews a system's status for issues that may need maintenance\",\"title\":\"Review for maintenance\",\"action\":\"reviewForMaintenance\"}",
        "outputToMsg": true,
        "redeploy": "false",
        "x": 460,
        "y": 520,
        "wires": [
            [
                "90186fae4671c26b"
            ]
        ]
    },
    {
        "id": "dd07b6d2c9d8508c",
        "type": "system-action-node",
        "z": "ec66bca55939c9e9",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingAction": "logData",
        "thingActionValue": "{\"uri\":\"http://localhost:8080/database\",\"params\":{},\"description\":\"Logs the input data\",\"title\":\"Log data\",\"action\":\"logData\"}",
        "outputToMsg": true,
        "redeploy": "false",
        "x": 420,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "235d1415f23c0e83",
        "type": "system-action-node",
        "z": "ec66bca55939c9e9",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingAction": "alertManager",
        "thingActionValue": "{\"uri\":\"http://localhost:8080/managersdevice\",\"params\":{\"alertType\":\"string\",\"alertContent\":\"string\"},\"description\":\"Makes an alert on the manager's device\",\"title\":\"Alert the manager\",\"action\":\"alertManager\"}",
        "outputToMsg": true,
        "redeploy": "true",
        "x": 950,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "90186fae4671c26b",
        "type": "switch",
        "z": "ec66bca55939c9e9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 630,
        "y": 520,
        "wires": [
            [
                "f4bddae4bb753ad7"
            ]
        ]
    },
    {
        "id": "f4bddae4bb753ad7",
        "type": "change",
        "z": "ec66bca55939c9e9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"maintanence needed\", \"\"]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 520,
        "wires": [
            [
                "235d1415f23c0e83"
            ]
        ]
    },
    {
        "id": "5bf3eea765f7ca7a",
        "type": "change",
        "z": "ec66bca55939c9e9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"quality\", msg.payload]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 240,
        "wires": [
            [
                "d4c89f71c650dd32"
            ]
        ]
    },
    {
        "id": "7da9cf95e81e8a24",
        "type": "change",
        "z": "ec66bca55939c9e9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"temperature\", msg.payload]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 320,
        "wires": [
            [
                "d4c89f71c650dd32"
            ]
        ]
    },
    {
        "id": "13d27a83ec253b04",
        "type": "change",
        "z": "ec66bca55939c9e9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"vibration\", msg.payload]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 400,
        "wires": [
            [
                "d4c89f71c650dd32"
            ]
        ]
    },
    {
        "id": "ec6f58bccc8e19e3",
        "type": "system-action-node",
        "z": "ec66bca55939c9e9",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingAction": "calculateEfficiency",
        "thingActionValue": "{\"uri\":\"http://localhost:8080/efficiencyanalyser\",\"params\":{},\"output\":{\"type\":\"integer\",\"description\":\"The calculated percentage efficiency of the system\"},\"description\":\"Calculates the efficiency of the system\",\"title\":\"Calculate efficiency\",\"action\":\"calculateEfficiency\"}",
        "outputToMsg": true,
        "redeploy": "true",
        "x": 450,
        "y": 580,
        "wires": [
            [
                "12d9cfb76c387f6e"
            ]
        ]
    },
    {
        "id": "2de19fffe753196c",
        "type": "system-action-node",
        "z": "ec66bca55939c9e9",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingAction": "alertManager",
        "thingActionValue": "{\"uri\":\"http://localhost:8080/managersdevice\",\"params\":{\"alertType\":\"string\",\"alertContent\":\"string\"},\"description\":\"Makes an alert on the manager's device\",\"title\":\"Alert the manager\",\"action\":\"alertManager\"}",
        "outputToMsg": true,
        "redeploy": "true",
        "x": 810,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "12d9cfb76c387f6e",
        "type": "change",
        "z": "ec66bca55939c9e9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"efficiency\", msg.payload]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 580,
        "wires": [
            [
                "2de19fffe753196c"
            ]
        ]
    },
    {
        "id": "fde4b9d9924374de",
        "type": "system-action-node",
        "z": "ec66bca55939c9e9",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingAction": "alertManager",
        "thingActionValue": "{\"uri\":\"http://localhost:8080/managersdevice\",\"params\":{\"alertType\":\"string\",\"alertContent\":\"string\"},\"description\":\"Makes an alert on the manager's device\",\"title\":\"Alert the manager\",\"action\":\"alertManager\"}",
        "outputToMsg": true,
        "redeploy": "true",
        "x": 550,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "3bb0c2950a4e47f9",
        "type": "change",
        "z": "ec66bca55939c9e9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"efficiency\", msg.payload]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 160,
        "wires": [
            [
                "fde4b9d9924374de"
            ]
        ]
    },
    {
        "id": "452b85f545704436",
        "type": "system-event-node",
        "z": "ec66bca55939c9e9",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingEvent": "resourceUsed",
        "thingEventValue": "{\"uri\":\"http://localhost:8080/inventorymanager\",\"output\":{\"type\":\"object\",\"properties\":{\"resourceName\":{\"type\":\"string\",\"description\":\"The name of the resource used\"},\"quantity\":{\"type\":\"number\",\"description\":\"The amount of the resource used\"}}},\"description\":\"Makes an alert when a resource is used\",\"title\":\"Resource used\",\"event\":\"resourceUsed\"}",
        "outputToMsg": true,
        "redeploy": "false",
        "x": 110,
        "y": 660,
        "wires": [
            [
                "52a17da8edaf3685",
                "cd8b7c2c05693627"
            ]
        ]
    },
    {
        "id": "cd8b7c2c05693627",
        "type": "system-action-node",
        "z": "ec66bca55939c9e9",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingAction": "logData",
        "thingActionValue": "{\"uri\":\"http://localhost:8080/database\",\"params\":{},\"description\":\"Logs the input data\",\"title\":\"Log data\",\"action\":\"logData\"}",
        "outputToMsg": true,
        "redeploy": "false",
        "x": 300,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "d22fe9aed7bd0d6f",
        "type": "system-action-node",
        "z": "ec66bca55939c9e9",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingAction": "alertManager",
        "thingActionValue": "{\"uri\":\"http://localhost:8080/managersdevice\",\"params\":{\"alertType\":\"string\",\"alertContent\":\"string\"},\"description\":\"Makes an alert on the manager's device\",\"title\":\"Alert the manager\",\"action\":\"alertManager\"}",
        "outputToMsg": true,
        "redeploy": "true",
        "x": 490,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "52a17da8edaf3685",
        "type": "change",
        "z": "ec66bca55939c9e9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"resourceUsed\", msg.payload]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 660,
        "wires": [
            [
                "d22fe9aed7bd0d6f"
            ]
        ]
    },
    {
        "id": "544dac9b227bb08f",
        "type": "system-event-node",
        "z": "ec66bca55939c9e9",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingEvent": "dataProcessingComplete",
        "thingEventValue": "{\"uri\":\"http://localhost:8080/sensorhub\",\"output\":{\"type\":\"string\",\"description\":\"Status information about the current state of the system\"},\"description\":\"Makes a notification when sensor data processing is complete\",\"title\":\"Data processing complete\",\"event\":\"dataProcessingComplete\"}",
        "outputToMsg": true,
        "redeploy": "true",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "dd07b6d2c9d8508c",
                "4d34410bcd990e0f",
                "ec6f58bccc8e19e3"
            ]
        ]
    }
]