expectedOuputs/SpaceStation.json
[
    {
        "id": "52d39f2c44561429",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2f17b900c8f63bdd",
        "type": "system-event-node",
        "z": "52d39f2c44561429",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingEvent": "oxygenLevel",
        "thingEventValue": "{\"uri\":\"http://localhost:8080/oxygensensor\",\"output\":{\"type\":\"number\",\"description\":\"The concentration of oxygen within the space station\"},\"description\":\"Periodically produces notifications of the oxygen concentrationin the air surrounding this sensor\",\"title\":\"Oxygen Level\",\"event\":\"oxygenLevel\"}",
        "outputToMsg": true,
        "redeploy": "true",
        "x": 90,
        "y": 60,
        "wires": [
            [
                "0c12bd3b2e83f743"
            ]
        ]
    },
    {
        "id": "0c12bd3b2e83f743",
        "type": "switch",
        "z": "52d39f2c44561429",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "0.5",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 230,
        "y": 60,
        "wires": [
            [
                "589dc7ac713c5938",
                "4012333912da84ef"
            ]
        ]
    },
    {
        "id": "37ac643674503e40",
        "type": "system-action-node",
        "z": "52d39f2c44561429",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingAction": "alertControlCentre",
        "thingActionValue": "{\"uri\":\"http://localhost:8080/controlcentre\",\"params\":{},\"description\":\"Alerts the control centre of some event\",\"title\":\"Alert Control Centre\",\"action\":\"alertControlCentre\"}",
        "outputToMsg": true,
        "redeploy": "true",
        "x": 430,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "589dc7ac713c5938",
        "type": "system-action-node",
        "z": "52d39f2c44561429",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingAction": "activateBackupOxygen",
        "thingActionValue": "{\"uri\":\"http://localhost:8080/oxygensystem\",\"params\":{},\"description\":\"Activates the backup oxygen generator\",\"title\":\"Activate Backup Oxygen\",\"action\":\"activateBackupOxygen\"}",
        "outputToMsg": true,
        "redeploy": "false",
        "x": 440,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "4012333912da84ef",
        "type": "change",
        "z": "52d39f2c44561429",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Low oxygen - activating backup supply",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 120,
        "wires": [
            [
                "37ac643674503e40"
            ]
        ]
    },
    {
        "id": "1918a2dcdec4ea2f",
        "type": "system-event-node",
        "z": "52d39f2c44561429",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingEvent": "temperature",
        "thingEventValue": "{\"uri\":\"http://localhost:8080/temperaturesensor\",\"output\":{\"type\":\"number\",\"description\":\"The temperature of this sensor\"},\"description\":\"Makes periodic alerts of the temperature of this sensor\",\"title\":\"Temperature\",\"event\":\"temperature\"}",
        "outputToMsg": true,
        "redeploy": "false",
        "x": 90,
        "y": 200,
        "wires": [
            [
                "b597e8455feeed7f"
            ]
        ]
    },
    {
        "id": "02ede8eb6643c0dd",
        "type": "system-event-node",
        "z": "52d39f2c44561429",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingEvent": "humidity",
        "thingEventValue": "{\"uri\":\"http://localhost:8080/humiditysensor\",\"output\":{\"type\":\"number\",\"description\":\"The humidity surrounding this sensor\"},\"description\":\"Alerts changes in humidity around this sensor\",\"title\":\"Humidity\",\"event\":\"humidity\"}",
        "outputToMsg": true,
        "redeploy": "true",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "b1458c7faaf6d2fc"
            ]
        ]
    },
    {
        "id": "b597e8455feeed7f",
        "type": "switch",
        "z": "52d39f2c44561429",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "21",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "18",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 200,
        "wires": [
            [
                "742d22cdcfc350b2",
                "572c634d86579ac7"
            ],
            [
                "742d22cdcfc350b2",
                "26446eafbc0f9833"
            ]
        ]
    },
    {
        "id": "b1458c7faaf6d2fc",
        "type": "switch",
        "z": "52d39f2c44561429",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0.50",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "0.30",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 240,
        "wires": [
            [
                "4641e5a0a54cece3",
                "acd8678d24be2269"
            ],
            [
                "4641e5a0a54cece3",
                "4435267ac8e0fddf"
            ]
        ]
    },
    {
        "id": "52204b7738efe84a",
        "type": "system-action-node",
        "z": "52d39f2c44561429",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingAction": "alertCrew",
        "thingActionValue": "{\"uri\":\"http://localhost:8080/tannoysystem\",\"params\":{},\"description\":\"Alerts the crew with a given message\",\"title\":\"Alert Crew\",\"action\":\"alertCrew\"}",
        "outputToMsg": true,
        "redeploy": "false",
        "x": 600,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "572c634d86579ac7",
        "type": "change",
        "z": "52d39f2c44561429",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "High temperature",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 320,
        "wires": [
            [
                "52204b7738efe84a"
            ]
        ]
    },
    {
        "id": "19b0c3986681b4b9",
        "type": "system-action-node",
        "z": "52d39f2c44561429",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingAction": "alterTemperature",
        "thingActionValue": "{\"uri\":\"http://localhost:8080/environmentalcontrolcentre\",\"params\":{},\"description\":\"Alters the temperature of the space station\",\"title\":\"Alter Temperature\",\"action\":\"alterTemperature\"}",
        "outputToMsg": true,
        "redeploy": "true",
        "x": 610,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "2bfdd059c0aed4b3",
        "type": "system-action-node",
        "z": "52d39f2c44561429",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingAction": "alterHumidity",
        "thingActionValue": "{\"uri\":\"http://localhost:8080/environmentalcontrolcentre\",\"params\":{},\"description\":\"Alters the humidity of the space station\",\"title\":\"Alter Humidity\",\"action\":\"alterHumidity\"}",
        "outputToMsg": true,
        "redeploy": "false",
        "x": 590,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "742d22cdcfc350b2",
        "type": "change",
        "z": "52d39f2c44561429",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "(21+18)/2 - msg.payload",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 200,
        "wires": [
            [
                "19b0c3986681b4b9"
            ]
        ]
    },
    {
        "id": "4641e5a0a54cece3",
        "type": "change",
        "z": "52d39f2c44561429",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "(0.50+0.30)/2 - msg.payload",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 240,
        "wires": [
            [
                "2bfdd059c0aed4b3"
            ]
        ]
    },
    {
        "id": "26446eafbc0f9833",
        "type": "change",
        "z": "52d39f2c44561429",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Low tempurature",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 360,
        "wires": [
            [
                "52204b7738efe84a"
            ]
        ]
    },
    {
        "id": "acd8678d24be2269",
        "type": "change",
        "z": "52d39f2c44561429",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "High humidity",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 440,
        "wires": [
            [
                "52204b7738efe84a"
            ]
        ]
    },
    {
        "id": "4435267ac8e0fddf",
        "type": "change",
        "z": "52d39f2c44561429",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Low humidity",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 480,
        "wires": [
            [
                "52204b7738efe84a"
            ]
        ]
    },
    {
        "id": "867a98a041189da0",
        "type": "system-event-node",
        "z": "52d39f2c44561429",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingEvent": "fireDetected",
        "thingEventValue": "{\"uri\":\"http://localhost:8080/firesafetysystem\",\"output\":{\"type\":\"string\",\"description\":\"The location of the fire\"},\"description\":\"Alerts when a fire is detected on the space station\",\"title\":\"Fire Detected\",\"event\":\"fireDetected\"}",
        "outputToMsg": true,
        "redeploy": "false",
        "x": 90,
        "y": 560,
        "wires": [
            [
                "6f7048e565faf9d5",
                "f7eec624f51f6981",
                "7edbb19fd034dd52"
            ]
        ]
    },
    {
        "id": "dc7e3df9d6e578d5",
        "type": "system-action-node",
        "z": "52d39f2c44561429",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingAction": "alertCrew",
        "thingActionValue": "{\"uri\":\"http://localhost:8080/tannoysystem\",\"params\":{},\"description\":\"Alerts the crew with a given message\",\"title\":\"Alert Crew\",\"action\":\"alertCrew\"}",
        "outputToMsg": true,
        "redeploy": "false",
        "x": 440,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "6f7048e565faf9d5",
        "type": "change",
        "z": "52d39f2c44561429",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"Fire detected at \" + msg.payload",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 560,
        "wires": [
            [
                "dc7e3df9d6e578d5"
            ]
        ]
    },
    {
        "id": "f7eec624f51f6981",
        "type": "system-action-node",
        "z": "52d39f2c44561429",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingAction": "activateFireSuppression",
        "thingActionValue": "{\"uri\":\"http://localhost:8080/firesafetysystem\",\"params\":{},\"description\":\"Activates the fire suppression systems at the given location\",\"title\":\"Activate Fire Suppression\",\"action\":\"activateFireSuppression\"}",
        "outputToMsg": true,
        "redeploy": "true",
        "x": 310,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "7edbb19fd034dd52",
        "type": "system-action-node",
        "z": "52d39f2c44561429",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingAction": "closeModule",
        "thingActionValue": "{\"uri\":\"http://localhost:8080/modulecontrolsystem\",\"params\":{},\"description\":\"Closes a given module\",\"title\":\"Close Module\",\"action\":\"closeModule\"}",
        "outputToMsg": true,
        "redeploy": "true",
        "x": 270,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "6819553ed8b25b30",
        "type": "system-event-node",
        "z": "52d39f2c44561429",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingEvent": "damageDetected",
        "thingEventValue": "{\"uri\":\"http://localhost:8080/modulecontrolsystem\",\"output\":{\"type\":\"object\",\"properties\":{\"location\":{\"type\":\"string\",\"description\":\"The location of the module that has sustained damage\"},\"severity\":{\"type\":\"string\",\"description\":\"The severity of the damage (major or minor)\"}}},\"description\":\"Alerts when damage to a module is detected\",\"title\":\"Damage Detected\",\"event\":\"damageDetected\"}",
        "outputToMsg": true,
        "redeploy": "true",
        "x": 100,
        "y": 720,
        "wires": [
            [
                "ffd8b8dc2a6763cd",
                "1e2ceca69f0b80f2"
            ]
        ]
    },
    {
        "id": "0069aee6e14ef56f",
        "type": "system-action-node",
        "z": "52d39f2c44561429",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingAction": "alertCrew",
        "thingActionValue": "{\"uri\":\"http://localhost:8080/tannoysystem\",\"params\":{},\"description\":\"Alerts the crew with a given message\",\"title\":\"Alert Crew\",\"action\":\"alertCrew\"}",
        "outputToMsg": true,
        "redeploy": "false",
        "x": 480,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "ffd8b8dc2a6763cd",
        "type": "change",
        "z": "52d39f2c44561429",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload[1] + \"damage detected at \" + msg.payload[0]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 720,
        "wires": [
            [
                "0069aee6e14ef56f",
                "5382baf477ccbd67"
            ]
        ]
    },
    {
        "id": "931c2fa98939fb73",
        "type": "system-action-node",
        "z": "52d39f2c44561429",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingAction": "alertControlCentre",
        "thingActionValue": "{\"uri\":\"http://localhost:8080/controlcentre\",\"params\":{},\"description\":\"Alerts the control centre of some event\",\"title\":\"Alert Control Centre\",\"action\":\"alertControlCentre\"}",
        "outputToMsg": true,
        "redeploy": "true",
        "x": 510,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "5382baf477ccbd67",
        "type": "change",
        "z": "52d39f2c44561429",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"moduleDamageDetected\", msg.payload]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 760,
        "wires": [
            [
                "931c2fa98939fb73"
            ]
        ]
    },
    {
        "id": "d60d31690c7802e7",
        "type": "system-action-node",
        "z": "52d39f2c44561429",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingAction": "scheduleTask",
        "thingActionValue": "{\"uri\":\"http://localhost:8080/crewscheduler\",\"params\":{},\"description\":\"Schedules a task for the crew aboard the space station\",\"title\":\"Schedule Task\",\"action\":\"scheduleTask\"}",
        "outputToMsg": true,
        "redeploy": "false",
        "x": 600,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "3dc98bc75cdc301f",
        "type": "change",
        "z": "52d39f2c44561429",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "space walk",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 820,
        "wires": [
            [
                "d60d31690c7802e7"
            ]
        ]
    },
    {
        "id": "1e2ceca69f0b80f2",
        "type": "switch",
        "z": "52d39f2c44561429",
        "name": "",
        "property": "payload[1]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "minor",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 270,
        "y": 820,
        "wires": [
            [
                "3dc98bc75cdc301f"
            ]
        ]
    },
    {
        "id": "d1ecc5cda3627084",
        "type": "system-event-node",
        "z": "52d39f2c44561429",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingEvent": "groundControlLost",
        "thingEventValue": "{\"uri\":\"http://localhost:8080/commssystem\",\"output\":{},\"description\":\"An event broadcast when communication with ground control is lost\",\"title\":\"Ground Control Lost\",\"event\":\"groundControlLost\"}",
        "outputToMsg": true,
        "redeploy": "false",
        "x": 130,
        "y": 900,
        "wires": [
            [
                "485305dbfa7b793b",
                "1a7434ca764434f6",
                "bde9ca9460db7b94"
            ]
        ]
    },
    {
        "id": "485305dbfa7b793b",
        "type": "system-action-node",
        "z": "52d39f2c44561429",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingAction": "activateBackupComms",
        "thingActionValue": "{\"uri\":\"http://localhost:8080/backupcommssystem\",\"params\":{},\"description\":\"Activates the backup communication system to restore communication with ground control\",\"title\":\"Activate Backup Comms\",\"action\":\"activateBackupComms\"}",
        "outputToMsg": true,
        "redeploy": "false",
        "x": 380,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "2aa2c44ebb276bed",
        "type": "system-event-node",
        "z": "52d39f2c44561429",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingEvent": "backupCommsFailure",
        "thingEventValue": "{\"uri\":\"http://localhost:8080/backupcommssystem\",\"output\":{},\"description\":\"An event given when the backup communication system fails\",\"title\":\"Backup Comms Failure\",\"event\":\"backupCommsFailure\"}",
        "outputToMsg": true,
        "redeploy": "true",
        "x": 120,
        "y": 940,
        "wires": [
            [
                "37d8a65ea1bae6f5",
                "2f957034801c081b",
                "33fdd73322972330"
            ]
        ]
    },
    {
        "id": "37d8a65ea1bae6f5",
        "type": "system-action-node",
        "z": "52d39f2c44561429",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingAction": "deployEmergencyCommsBeakon",
        "thingActionValue": "{\"uri\":\"http://localhost:8080/commssystem\",\"params\":{},\"description\":\"Deploys an emergency communication beakon for location of this space craft\",\"title\":\"Deploy Emergency Comms Beakon\",\"action\":\"deployEmergencyCommsBeakon\"}",
        "outputToMsg": true,
        "redeploy": "true",
        "x": 420,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "53949798acafc795",
        "type": "system-action-node",
        "z": "52d39f2c44561429",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingAction": "alertCrew",
        "thingActionValue": "{\"uri\":\"http://localhost:8080/tannoysystem\",\"params\":{},\"description\":\"Alerts the crew with a given message\",\"title\":\"Alert Crew\",\"action\":\"alertCrew\"}",
        "outputToMsg": true,
        "redeploy": "false",
        "x": 520,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "1a7434ca764434f6",
        "type": "change",
        "z": "52d39f2c44561429",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Ground control connection lost",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1000,
        "wires": [
            [
                "53949798acafc795"
            ]
        ]
    },
    {
        "id": "2f957034801c081b",
        "type": "change",
        "z": "52d39f2c44561429",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Backup communication failure",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1040,
        "wires": [
            [
                "53949798acafc795"
            ]
        ]
    },
    {
        "id": "bde9ca9460db7b94",
        "type": "system-action-node",
        "z": "52d39f2c44561429",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingAction": "initiateRepareMode",
        "thingActionValue": "{\"uri\":\"http://localhost:8080/commssystem\",\"params\":{},\"description\":\"Initates the repare mode for this communication system, enabling engineers to work on the device\",\"title\":\"Initiate Repare Mode\",\"action\":\"initiateRepareMode\"}",
        "outputToMsg": true,
        "redeploy": "false",
        "x": 370,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "33fdd73322972330",
        "type": "system-action-node",
        "z": "52d39f2c44561429",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingAction": "initiateBackupCommsRepareMode",
        "thingActionValue": "{\"uri\":\"http://localhost:8080/backupcommssystem\",\"params\":{},\"description\":\"Initates the repare mode for this communication system, enabling engineers to work on the device\",\"title\":\"Initiate Backup Comms Repare Mode\",\"action\":\"initiateBackupCommsRepareMode\"}",
        "outputToMsg": true,
        "redeploy": "true",
        "x": 420,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "1096a463db20a4c0",
        "type": "system-event-node",
        "z": "52d39f2c44561429",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingEvent": "gravityReading",
        "thingEventValue": "{\"uri\":\"http://localhost:8080/researchsensors\",\"output\":{\"type\":\"number\",\"description\":\"The measurement of the gravitational force sensor\"},\"description\":\"Broadcasts the measurement of the gravitational force sensor\",\"title\":\"Gravity Reading\",\"event\":\"gravityReading\"}",
        "outputToMsg": true,
        "redeploy": "false",
        "x": 140,
        "y": 1300,
        "wires": [
            [
                "8035fa23d75adbec"
            ]
        ]
    },
    {
        "id": "50e6826942482781",
        "type": "system-event-node",
        "z": "52d39f2c44561429",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingEvent": "accelerationReading",
        "thingEventValue": "{\"uri\":\"http://localhost:8080/researchsensors\",\"output\":{\"type\":\"number\",\"description\":\"The measurement of the acceleration sensor\"},\"description\":\"Broadcasts the measurement of the acceleration sensor\",\"title\":\"Acceleration Reading\",\"event\":\"accelerationReading\"}",
        "outputToMsg": true,
        "redeploy": "false",
        "x": 130,
        "y": 1260,
        "wires": [
            [
                "faa8a6f34bc9b55c"
            ]
        ]
    },
    {
        "id": "642086e35da5bf5a",
        "type": "system-event-node",
        "z": "52d39f2c44561429",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingEvent": "forceReading",
        "thingEventValue": "{\"uri\":\"http://localhost:8080/researchsensors\",\"output\":{\"type\":\"number\",\"description\":\"The measurement of the force sensor\"},\"description\":\"Broadcasts the measurement of the force sensor\",\"title\":\"Force Reading\",\"event\":\"forceReading\"}",
        "outputToMsg": true,
        "redeploy": "false",
        "x": 150,
        "y": 1220,
        "wires": [
            [
                "fa562fd5ffad4573"
            ]
        ]
    },
    {
        "id": "9b5249ec6166bfc6",
        "type": "system-action-node",
        "z": "52d39f2c44561429",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingAction": "deliverMeasurement",
        "thingActionValue": "{\"uri\":\"http://localhost:8080/crewdevice\",\"params\":{},\"description\":\"Delivers a new measurement to the crew\",\"title\":\"Deliver Measurement\",\"action\":\"deliverMeasurement\"}",
        "outputToMsg": true,
        "redeploy": "false",
        "x": 760,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "7d8ca44a13339ee3",
        "type": "system-action-node",
        "z": "52d39f2c44561429",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingAction": "addDataToProcess",
        "thingActionValue": "{\"uri\":\"http://localhost:8080/dataprocessingsystem\",\"params\":{},\"output\":{\"type\":\"object\",\"description\":\"The result of analysis for the current data\"},\"description\":\"Adds the provided data to the queue for analysis\",\"title\":\"AddDataToProcess\",\"action\":\"addDataToProcess\"}",
        "outputToMsg": true,
        "redeploy": "false",
        "x": 530,
        "y": 1260,
        "wires": [
            [
                "9b5249ec6166bfc6",
                "10d44b4ee9739d4d"
            ]
        ]
    },
    {
        "id": "10d44b4ee9739d4d",
        "type": "system-action-node",
        "z": "52d39f2c44561429",
        "name": "",
        "thingDirectoryURI": "http://localhost:8080/thingdirectory",
        "thingAction": "alertGroundControl",
        "thingActionValue": "{\"uri\":\"http://localhost:8080/commssystem\",\"params\":{},\"description\":\"Sends an alert to ground control\",\"title\":\"Alert Ground Control\",\"action\":\"alertGroundControl\"}",
        "outputToMsg": true,
        "redeploy": "true",
        "x": 750,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "fa562fd5ffad4573",
        "type": "change",
        "z": "52d39f2c44561429",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"forceReading\", msg.payload]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1220,
        "wires": [
            [
                "7d8ca44a13339ee3"
            ]
        ]
    },
    {
        "id": "faa8a6f34bc9b55c",
        "type": "change",
        "z": "52d39f2c44561429",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"accelerationReading\", msg.payload]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1260,
        "wires": [
            [
                "7d8ca44a13339ee3"
            ]
        ]
    },
    {
        "id": "8035fa23d75adbec",
        "type": "change",
        "z": "52d39f2c44561429",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"gravityReading\", msg.payload]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1300,
        "wires": [
            [
                "7d8ca44a13339ee3"
            ]
        ]
    }
]